#dlgactividadAbierta{
column-count: 2; 
-webkit-column-count: 2;
-moz-column-count: 2; 
-o-column-count: 2; 
/*Espacio entre columnas*/
column-gap: 2em; 
-webkit-column-gap: 2em;
-moz-column-gap: 2em; 
-o-column-gap: 2em;
/*Agrega una barra solida de color*/
column-rule: 2px solid #666; 
-webkit-column-rule: 2px solid #666; 
-moz-column-rule: 2px solid #666; 
-o-column-rule: 2px solid #666;
}
